<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aymen Adoption Center</title>
    <link rel="stylesheet" href="websitedesign.css">

    <style>
         #datetime {
            margin-left: 10px; 
        }
    </style>
</head>

<body>   
    
    <div class="navbar"> 
            <a href="#Home" class="active">Home</a>
            <a href="/find">Find dog/cat</a>
            <a href="/dogcare">Dog care</a>
            <a href="/catcare">Cat care</a>  
            <a href="/giveaway">Have a pet to give away</a> 
            <a href="/contactus">Contact Us</a>
            <a href="/CreateAccount">Create an Account</a>
        </div>

        <div class="content">

            <%- include('views/header') %>

            <div class="main">
                <h4>Welcome to Aymen Animal Adoption!</h4>
                <p>Do you wish to adopt a new pet? If yes then you are at the right place! Our website has everything to make your adoption easy!</p>
                <p><b style="color:#653109">The browse Available pets section</b> will let you go through every animal that we have right now! And if you already know what pet you want to 
                    adopt then you can use the <b style="color:#653109">Find a pet section</b> that will show you the pets we have that corresponds to what you are looking for! </p>

                 <a href="#cat"><img src="https://images.saymedia-content.com/.image/t_share/MTk2NzY3MjA5ODc0MjY5ODI2/top-10-cutest-cat-photos-of-all-time.jpg" alt="cat" width="200" style="margin-left:5px;"></a>  
                 <a href="#dog"><img src="https://worldanimalfoundation.org/wp-content/uploads/2023/09/Cute-dogs.jpg" alt="dog" width="200" style="margin-left:30px;"></a> 

                <p>If you need some information on how to take care of you dog or cat, use the <b style="color:#653109">Dog/Cat Care section!</b></p>
                <p>If for some reason you can't take care of your pet anymore then look through our <b style="color:#653109">Have a pet to give away section.</b></p>
                <p>Our contact informations are all in the <b style="color:#653109">Contact Us section.</b></p>   
            </div>

            <%- include('views/footer') %>

        </div>

        <script src="WebsiteFunctions.js"></script> 
</body>
</html>