<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aymen Adoption Center</title>
    <link rel="stylesheet" href="websitedesign.css">
    <style>
        #datetime {
            margin-left: 10px;
        }
    </style>
</head>

<body>

    <div class="navbar"> 
        <a href="/home">Home</a>
        <a href="/find">Find dog/cat</a>
        <a href="/dogcare">Dog care</a>
        <a href="/catcare">Cat care</a>  
        <a href="/giveaway" class="active">Have a pet to give away</a> 
        <a href="/contactus">Contact Us</a>
        <a href="/CreateAccount">Create an Account</a>
    </div>

    <div class="content">
        <%- include('views/header') %>

        <div class="main">
           
            <form id="giveawayForm" method="post" action="/giveawaypets">
                <fieldset>
                    <legend style="color: rgb(84, 84, 81);"><b>Dog/Cat Give Away</b></legend>

                        <p><b>What animal is it?</b><br>
                        <input type="radio" id="dog" name="animal" value="Dog">
                        <label for="dog">Dog</label>
                        <input type="radio" id="cat" name="animal" value="Cat">
                        <label for="cat">Cat</label>
                        </p>

                        <p><b>What breed of dog/cat is it? </b><br>
                            <label for="breed">Breed(including mixed breed):</label>
                            <input type="text" id="breed" name="breed">
                        </p>

                        <p><b>What age is the dog/cat?</b><br>
                            <select name="age" id="age">
                                <option value="0-1">0-1</option>
                                <option value="1-3">1-3</option>
                                <option value="3-5">3-5</option>
                                <option value="5-7">5-7</option>
                                <option value="7-9">7-9</option>
                                <option value="over 9">9+</option>
                                <option value="Doesn't Matter">Doesn't Matter</option>
                            </select>  
                        </p>

                        <p><b>Please select the gender of the dog/cat.</b><br>
                            <input type="radio" id="male" name="gender" value="Male">
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="Female">
                            <label for="female">Female</label>
                        </p>

                        <p><b>Please select the options that the animal would need to get along with.</b><br>
                            <input type="checkbox" id="dogs" name="GetAlong" value="Dogs">
                            <label for="dogs">Dogs</label>
                            <input type="checkbox" id="cats" name="GetAlong" value="Cats">
                            <label for="cats">Cats</label>
                            <input type="checkbox" id="children" name="GetAlong" value="Small Children">
                            <label for="children">Small Children</label><br>
                        </p>

                        <p><b>Tell us more about your animal and it's good point!:</b></p>
                        <textarea id="info" name="info" rows="4" cols="50"></textarea>

                        <p><b>Please enter the current owner's given name and family name:</b><br>
                        <label for="gname">Given name:</label>
                        <input type="text" id="gname" name="name"><br><br>
                        <label for="fname">Family name:</label>
                        <input type="text" id="fname" name="name"> 
                        </p>

                        <p><b>Please enter the current owner's email:</b><br>
                            <input type="text" id="Email" name="Email">
                         </p>

                        <input type="submit" value="Submit">
                        <input type="reset" value="Clear">  

                </fieldset>
            </form>   
        </div>

        <%- include('views/footer') %>

        
    </div>

    <script src="WebsiteFunctions.js"></script>
</body>
</html>