<div class="footer">
    <a href="/disclaimer">Privacy/Disclaimer Statement</a>
    <a href="/logout" style=" padding: 10px 20px; background-color: #041463; color: white; text-decoration: none; border-radius: 5px; float: right;">Log Out</a>

</div>
